<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.hairstyle">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <dist:module dist:instant="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Avaliation"
            android:parentActivityName=".home" />
        <activity  android:parentActivityName=".home" android:name=".DetailService" />
        <activity
            android:name=".NewPassword"
            android:parentActivityName=".MainActivity" />
        <activity android:parentActivityName=".home" android:name=".Contact" />
        <activity
            android:name=".ForgotPassword"
            android:parentActivityName=".MainActivity" />

        <activity android:parentActivityName=".home"  android:name=".DetailCompany" />
        <activity
            android:name=".Register"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>